{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}
聊天室
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

  {% block content %}
<div class="nav1">

               <div class="item home">
                   <img src="{% static 'images/icon/system_message.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:system_message'%}">系统通知</a>
               </div>
               <div class="item">
                   <img src="{% static 'images/icon/person_message.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:person_message'%}">收信箱</a>
               </div>
               <div class="item">
                   <img src="{% static 'images/icon/message_by_me.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:message_by_me'%}">已发私信</a>
               </div>
              <div class="item">
                  <img src="{% static 'images/icon/message_marked.jpg' %}" class="nav-img">
                  <a href="{% url 'Communication:marked_message'%}">特别标注</a>
              </div>
                <div class="item">
                    <img src="{% static 'images/icon/chat.jpg' %}" class="nav-img">
                    聊天室
               </div>
                <div class="item">
                    <img src="{% static 'images/icon/message_read.jpg' %}" class="nav-img">
                    <a href="{% url 'Communication:message_read'%}">已读信息</a>
               </div>
                <div class="item">
                    <img src="{% static 'images/icon/write_message.png' %}" class="nav-img">
                   <a href="{% url 'Communication:write_message'%}">写信</a>
               </div>
              <div class="item">
                  <img src="{% static 'images/icon/contact_us.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:contact_us'%}">反馈</a>
               </div>
            </div>

     <div class="content">
            <div class="panel-heading"STYLE="background-color:#C1C3D1;border-color:white;font-size: 15px">
                进入群聊
            </div>
                            <div style="margin-left: 370px;margin-top: 200px" >
                                <input id="room-name-input" value="1" type="hidden">
        <button id="room-name-submit" type="submit">加入群聊</button>
                                   <input id="username" type="hidden" value="{{ username }}"/>
                            </div><!-- /input-group -->


                        </div>


        {% endblock%}

{% block chatface %}
{% endblock chatface %}

{% block script %}
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter松开, 触发按钮click事件
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            var username = document.querySelector('#username').value;
            window.location.pathname = '/chat/' + roomName + '/' + username + '/';
        };
        //修改pathname，则浏览器中的地址栏url的pathname部分就会改变，并触发新的http get操作
    </script>
{% endblock script %}