{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}
客服
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

    {% block content %}
<div class="nav1">


               <div class="item home">
                   <img src="{% static 'images/icon/system_message.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:system_message'%}">收信箱</a>
               </div>
               <div class="item">
                   <img src="{% static 'images/icon/person_message.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:person_message' %}">个人私信</a>
               </div>
               <div class="item">
                   <img src="{% static 'images/icon/message_by_me.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:message_by_me'%}">已发私信</a>
               </div>
              <div class="item">
                  <img src="{% static 'images/icon/message_marked.jpg' %}" class="nav-img">
                  <a href="{% url 'Communication:marked_message'%}">特别标注</a>
              </div>
                <div class="item">
                    <img src="{% static 'images/icon/chat.jpg' %}" class="nav-img">
                    <a href="{% url 'Communication:chat'%}">聊天室</a>
               </div>
                <div class="item">
                    <img src="{% static 'images/icon/message_read.jpg' %}" class="nav-img">
                    <a href="{% url 'Communication:message_read'%}">已读信息</a>
               </div>
                <div class="item">
                    <img src="{% static 'images/icon/write_message.png' %}" class="nav-img">
                   <a href="{% url 'Communication:write_message'%}">写信</a>
               </div>
              <div class="item">
                  <img src="{% static 'images/icon/contact_us.jpg' %}" class="nav-img">
                   反馈
               </div>
            </div>

     <div class="content">
            <div class="panel-heading"style="background-color:#C1C3D1;border-color:white;font-size: 15px">
        反馈成功
            </div>
        <div style="margin-top: 125px;margin-left: 300px">
              <img src=/media/communication_img/contact_us_success.png width="360" height="240" />
        </div>
            <div style="margin-top: 20px;margin-left: 300px">
尊敬的用户，您的反馈我们会尽快处理，请留意系统通知
            </div>
     </div>
        {% endblock%}