{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}
标记成功
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

     {% block content %}
<div class="nav1">

               <div class="item home">
                   <img src="{% static 'images/icon/system_message.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:system_message'%}">系统通知</a>
               </div>
               <div class="item">
                   <img src="{% static 'images/icon/person_message.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:person_message' %}">收信箱</a>
               </div>
               <div class="item">
                   <img src="{% static 'images/icon/message_by_me.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:message_by_me'%}">已发私信</a>
               </div>
              <div class="item">
                  <img src="{% static 'images/icon/message_marked.jpg' %}" class="nav-img">
                  <a href="{% url 'Communication:marked_message'%}">特别标注</a>
              </div>
                <div class="item">
                    <img src="{% static 'images/icon/chat.jpg' %}" class="nav-img">
                    <a href="{% url 'Communication:chat'%}">聊天室</a>
               </div>
                <div class="item">
                    <img src="{% static 'images/icon/message_read.jpg' %}" class="nav-img">
                    <a href="{% url 'Communication:message_read'%}">已读信息</a>
               </div>
                <div class="item">
                    <img src="{% static 'images/icon/write_message.png' %}" class="nav-img">
                   <a href="{% url 'Communication:write_message'%}">写信</a>
               </div>
              <div class="item">
                  <img src="{% static 'images/icon/contact_us.jpg' %}" class="nav-img">
                   <a href="{% url 'Communication:contact_us'%}">反馈</a>
               </div>
            </div>

     <div class="content">
            <div class="panel-heading"style="background-color:#C1C3D1;border-color:white;font-size: 15px">标记成功 </div>
              <img src="{% static 'images/icon/message_marked_success.png' %}" style="margin-left: 350px;margin-top: 175px;height: 200px;width: 200px">
                <div style="margin-left: 350px">邮件标记成功,请于别特标记处查看此邮件</div>

        </div>



        {% endblock%}