{% extends 'accounts/base.html' %}

{% load staticfiles %}

{% block title %}
写信
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

 {% block content %}
<div class="nav1">
    <div class="item home">
        <img src="{% static 'images/icon/system_message.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:system_message'%}">系统通知</a>
    </div>
    <div class="item">
        <img src="{% static 'images/icon/person_message.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:person_message'%}">收信箱</a>
    </div>
    <div class="item">
        <img src="{% static 'images/icon/message_by_me.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:message_by_me'%}">已发私信</a>
    </div>
    <div class="item">
        <img src="{% static 'images/icon/message_marked.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:marked_message'%}">特别标注</a>
    </div>
    <div class="item">
        <img src="{% static 'images/icon/chat.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:chat'%}">聊天室</a>
    </div>
    <div class="item">
        <img src="{% static 'images/icon/message_read.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:message_read'%}">已读信息</a>
    </div>
    <div class="item">
        <img src="{% static 'images/icon/write_message.png' %}" class="nav-img">
        写信
    </div>
    <div class="item">
        <img src="{% static 'images/icon/contact_us.jpg' %}" class="nav-img">
        <a href="{% url 'Communication:contact_us'%}">反馈</a>
    </div>
</div>
     <div class="content">
         <div class="panel-heading"style="background-color:#C1C3D1;border-color:white;font-size: 15px">
            写信
         </div>
              <form action="/Communication/write_message/" method="POST">
                  <div class="row" style="margin-top: 20px">
                      <label>收件人</label>
                      <input type="text"  name="username"placeholder="姓名"> {{ error_message }}
                  </div>

    <div class="row">
      <label>标题</label>
      <input type="text" name="title" placeholder="标题">
    </div>
                  <div style="margin-top: 20px">
                      输入邮件内容:(必填)
                            </div>
                      <textarea cols="110" rows="15" name="message">
                      </textarea>
                              {% csrf_token %}
                 <div class="panel-heading">
                     <button type="submit">发送</button>
                  </div>
             </form>
            </div>
        {% endblock%}