{% extends 'home.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../../static/css/default.css">
	<style type="text/css">
		.demo-chat{width: 50%;margin: 0 auto;}
	</style>
	<!--[if IE]>
		<script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
	<![endif]-->
    <link rel="stylesheet" href="{% static 'css/index02.css' %}">
{% endblock %}

{% block content %}

<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<div class="htmleaf-demo center">
			  <a href="/line/">Line Chart</a>
			  <a href="/linecus/">Line Chart with custom tooltips</a>
			  <a href="/bar/" class="current">Bar Chart</a>
			  <a href="/doughnut/">Doughnut Chart</a>
			  <a href="/pie/">Pie Chart</a>
			  <a href="/piecus/">Pie Chart with custom tooltips</a>
			  <a href="/polar/">Polar Area Chart</a>
			  <a href="/radar/">Radar Area Chart</a>
                <a href="/map/">Custom map</a>
			</div>
			<div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
<script src="/follow.js" type="text/javascript"></script>
</div>
		</header>
		<div class="htmleaf-content">
			<div class="demo-chat" >
				<canvas id="canvas" height="450" width="600"></canvas>
			</div>
		</div>
	</div>
	
	<script src="../../static/js/Chart.js"></script>
	<script>
	var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

	var barChartData = {
		labels : ["January","February","March","April","May","June","July"],
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
			},
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,0.8)",
				highlightFill : "rgba(151,187,205,0.75)",
				highlightStroke : "rgba(151,187,205,1)",
				data : [randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor(),randomScalingFactor()]
			}
		]

	}
	window.onload = function(){
		var ctx = document.getElementById("canvas").getContext("2d");
		window.myBar = new Chart(ctx).Bar(barChartData, {
			responsive : true
		});
	}

	</script>
<div style="text-align:center;clear:both">
<script src="/gg_bd_ad_720x90-2.js" type="text/javascript"></script>
</div>
</body>
{% endblock %}