{% extends 'accounts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}

{% block content %}
<div class="nav1">
  <div class="item home">
      <img src="{% static 'images/icon/icon01.jpg' %}" class="nav-img">
    <a href="/index/">个人资料</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon02.png' %}" class="nav-img">
    <a href="/reset_pw/">修改密码</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon03.jpg' %}" class="nav-img">
    <a href="/send/">已发订单</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon04.png' %}" class="nav-img">
    <a href="/task/">已接订单</a>
  </div>
        <div class="item">
            <img src="{% static 'images/icon/icon05.jpg' %}" class="nav-img">
      <a href="/collection/">我收藏的订单</a>
  </div>
       <div class="item">
           <img src="{% static 'images/icon/icon06.jpg' %}" class="nav-img">
      <a href="/goodfavorite/">我收藏的商品</a>
  </div>
     <div class="item">
         <img src="{% static 'images/icon/icon07.jpg' %}" class="nav-img">
      <a href="/collection_c/">我收藏的大赛</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon08.png' %}" class="nav-img">
    <a href="/tags/">达人认证</a>
  </div>

  <div class="item">
      <img src="{% static 'images/icon/icon09.png' %}" class="nav-img">
    <a href="/logout/">注销登录</a>
  </div>
</div>


<div class="content">

      {% if not user.avatar %}
          <form action="/new_avatar/" method="POST" enctype="multipart/form-data">
    <div class="row">
      <label>头像:</label>
      <input type="file" name="avatar">
      <button type="submit">上传</button>
    </div>

  {% else %}
  <div class="head">
  <label  class="head01" for="username">头&nbsp;&nbsp;&nbsp;像:</label>
    <img src="/media/{{ user.avatar }}" class="head02">
  </div>
  {% endif %}

    <form action="/index/" method="POST" enctype="multipart/form-data" id="userForm">
        <div class="row">
            <label for="username">用户名:</label>
            <input type="text" id='username' name="username" readonly="readonly" value="{{user.username}}"/>
        </div>
        <div class="row">
            <label for="name">姓&nbsp;&nbsp;&nbsp;名:</label>
            <input  type="text" id="name" name="name" value="{{user.name}}">
        </div>
        <div class="row" >
            <label for="college">学&nbsp;&nbsp;&nbsp;院:</label>
            <input type="text" id="college" name="college" value="{{user.college}}">
        </div>
        <div class="row">
            <label for="major">专&nbsp;&nbsp;&nbsp;业:</label>
            <input type="text" id="major" name="major" value="{{user.major}}">
        </div>

        <div class="row">
            <label for="email">邮&nbsp;&nbsp;&nbsp;箱:</label>
            <input type="text" id="email" name="email" value="{{user.email}}">
        </div>
        <div class="row">
            <label for="qq_num">QQ&nbsp;号:</label>
            <input type="number" id="qq_num" name="qq_num" value="{{user.qq_num}}">
        </div>
         <button class="btn btn-primary" type="button" onclick="submit()"  >提交</button>
    </form>
</div>

<script>
$(function() {
  if ((location.pathname.split("/")[1]) !== ""){
    $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').parent(".item").addClass('active');
  } else {
    $('.home').addClass('active');
  }
});

</script>
{% endblock %}