{% extends 'accounts/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="nav1">
  <div class="item home">
      <img src="{% static 'images/icon/icon01.jpg' %}" class="nav-img">
    <a href="/index/">个人资料</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon02.png' %}" class="nav-img">
    <a href="/reset_pw/">修改密码</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon03.jpg' %}" class="nav-img">
    <a href="/send/">已发订单</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon04.png' %}" class="nav-img">
    <a href="/task/">已接订单</a>
  </div>
        <div class="item">
            <img src="{% static 'images/icon/icon05.jpg' %}" class="nav-img">
      <a href="/collection/">我收藏的订单</a>
  </div>
       <div class="item">
           <img src="{% static 'images/icon/icon06.jpg' %}" class="nav-img">
      <a href="/goodfavorite/">我收藏的商品</a>
  </div>
     <div class="item">
         <img src="{% static 'images/icon/icon07.jpg' %}" class="nav-img">
      <a href="/collection_c/">我收藏的大赛</a>
  </div>
  <div class="item">
      <img src="{% static 'images/icon/icon08.png' %}" class="nav-img">
    <a href="/tags/">达人认证</a>
  </div>

  <div class="item">
      <img src="{% static 'images/icon/icon09.png' %}" class="nav-img">
    <a href="/logout/">注销登录</a>
  </div>
</div>


<div class="wrapper">
  <div class="candles">
    <div class="light__wave"></div>
    <div class="candle1">
      <div class="candle1__body">
        <div class="candle1__eyes">
          <span class="candle1__eyes-one"></span>
          <span class="candle1__eyes-two"></span>
        </div>
        <div class="candle1__mouth"></div>
      </div>
      <div class="candle1__stick"></div>
    </div>

    <div class="candle2">
      <div class="candle2__body">
        <div class="candle2__eyes">
          <div class="candle2__eyes-one"></div>
          <div class="candle2__eyes-two"></div>
        </div>
      </div>
      <div class="candle2__stick"></div>
    </div>
    <div class="candle2__fire"></div>
    <div class="sparkles-one"></div>
    <div class="sparkles-two"></div>
    <div class="candle__smoke-one">

    </div>
    <div class="candle__smoke-two">

    </div>

  </div>
  <div class="floor">
  </div>




  <div class="res">
    <a href="/tags/new/">添加标签</a>
  </div>
</div>



<script>
$(function() {
  if ((location.pathname.split("/")[1]) !== ""){
    $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').parent(".item").addClass('active');
  } else {
    $('.home').addClass('active');
  }
});
</script>


{% endblock %}