
{% extends 'boards/base.html' %}

{% block title %}商务合作{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
<div style="text-align:center;font-size:45px;margin-top:60px" ><font color="#3b1b55">商务合作</font></div>

<div style=" font-size:30px;margin-top:60px;margin-left:40px">· 商务合作资格</div>
<div style="font-size:18px;margin-top:30px;margin-left:40px;line-height:28px">从事商务合作的企业或者人必须有一定的资格，合作双方必须签订正式的合作意向，
    <div>或者签订合同，必须为此次商务合作做好充分的准备，并为此负法律责任。</div>
</div>

<div style=" font-size:30px;margin-top:60px;margin-left:40px">· 需求+资源=双赢</div>

<div style="background-color: #FFF5EE; width:200px;
 height:200px; float:left; display:inline;
 margin-top:60px;margin-left:60px;
 border-radius:8px;
 margin-bottom:100px;box-shadow:darkgrey 2px 5px 20px 2px">
    <div style="font-size:20px;margin-top:50px;margin-left:40px">平台品牌保障</div>
    <div style="font-size:14px;margin-top:29px;margin-left:20px ">团队认真负责，已有成熟
        <div >的系统建设
        </div></div>
</div>

<div style="background-color: #FFF5EE; width:200px;
 height:200px; float:left; display:inline;
 margin-top:60px;margin-left:50px;
 border-radius:8px;
 margin-bottom:100px;box-shadow:darkgrey 2px 5px 20px 2px">
    <div style="font-size:20px;margin-top:50px;margin-left:40px">高端人才聚集</div>
    <div style="font-size:14px;margin-top:29px;margin-left:20px"> 人才多，方案多，选择多
        <div>
         上百方案任你挑选。
        </div>
        </div>
</div>

<div style="background-color:#FFF5EE; width:200px;
 height:200px; float:left; display:inline;
 margin-top:60px;margin-left:50px;
 border-radius:8px;
 margin-bottom:100px;box-shadow:darkgrey 2px 5px 20px 2px">
    <div  style="font-size:20px;margin-top:50px;margin-left:40px">流量点击可观</div>
    <div style="font-size:14px;margin-top:29px;margin-left:20px">网站日均浏览量高，创意
        <div>
        方案与品牌宣传一举双得。
        </div>
        </div>
</div>

<div style="background-color: #FFF5EE; width:200px;
 height:200px; float:left; display:inline;
 margin-top:60px;margin-left:50px;
 border-radius:8px;
 margin-bottom:100px;box-shadow:darkgrey 2px 5px 20px 2px">
    <div  style="font-size:20px;margin-top:50px;margin-left:40px">破除多维壁垒</div>
         <div style="font-size:14px;margin-top:29px;margin-left:20px"> 互联网平台，打破地域、
        <div>
         时间限制，减少中间环节，
            <div>提升交易效率。</div>
        </div>
        </div>


</div>
{% endblock %}

