{% extends 'boards/base.html' %}

{% block title %}Edit post{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'luntan' %}"><font color="white">总板块</font></a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' post.topic.board.pk %}"><font color="white">{{ post.topic.board.name }}</font></a></li>
<li class="breadcrumb-item"><a href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}"><font color="white">{{ post.topic.subject }}</font></a></li>
<li class="breadcrumb-item active"><font color="white">编辑帖子</font></li>
{% endblock %}

{% block content %}
  <form  method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'boards/includes/form.html' %}
    <button type="submit" class="btn btn-success" style=" float:right;background-color: #B766AD;margin-bottom:40px">保存</button>
    <a href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}" class="btn btn-outline-secondary" role="button" style="float:right; margin-bottom:40px">取消</a>
  </form>
{% endblock %}
