 {% extends 'boards/base.html' %}

{% block title %}商务合作{% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}
<div style="text-align:center;font-size:45px;margin-top:60px" ><font color="#3b1b55">加入我们</font></div>
<div style="background-color:white; width:300px;
 height:300px; float:left; display:inline;
 margin-top:60px;margin-left:170px;
 border-radius:8px;
 margin-bottom:100px;box-shadow:darkgrey 2px 5px 20px 2px">
    <div style="text-align:center;
 margin-top:60px; font-size:35px">
        <font color="#3b1b55">校园招聘</font>
    </div>
    <div style="margin-top:40px;margin-left:70px">
        文字力量，托起梦想人生
        <div>只要你想要有所作为，</div>
        你就可以加入我们的团队
    </div>
</div>


<div style="background-color:white; width:300px;
 height:300px; float:left;
 display:inline; margin-top:60px;
 margin-left:180px;box-shadow:darkgrey 2px 5px 20px 2px;
 margin-bottom:100px;
 border-radius:8px;">
    <div style="text-align:center;
 margin-top:60px; font-size:35px">
        <font color="#3b1b55">社会招聘</font>
    </div>
    <div style="margin-top:40px;margin-left:80px">
         勇者无惧，强者无敌
        <div>如果你有一定实践经验，</div>
        也欢迎您来指导我们
    </div>
</div>

{% endblock %}
