<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/disclaimer.css' %}">
    <link rel="stylesheet" href="{% static 'css/index02.css' %}">
{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="content">
        <div class="title">免责声明</div>
        <div class="line"></div>
            <div class="chengyuan">
                <div class="mingzi">总则</div>
                    <div class="zuoyouming">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;用户在接受Wehelp服务之前，请务必仔细阅读本条款并同意本声明。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;用户直接或通过各类方式（如站外API引用等）间接使用Wehelp服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用Wehelp所提供的全部服务。</p>
                        <div class="mingzi">第一条</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;用户以各种方式使用Wehelp服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用Wehelp或Wehelp用户发布内容）的过程中，不得以任何方式利用Wehelp直接或间接从事违反中国法律法规，以及社会公德的行为。用户应当恪守下述承诺：</p>
                        <ol>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;不发布、转载或提供的内容符合中国法律法规、社会公德；</li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;不得干扰、损害和侵犯Wehelp的各种合法权利与利益；</li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;不得干扰、损害和侵犯其他Wehelp用户的各种合法权利与利益；</li>
                            <li>&nbsp;&nbsp;&nbsp;&nbsp;遵守Wehelp以及与之相关的网络服务的协议、指导原则、管理细则等。</li>
                        </ol>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;Wehelp有权对违反上述承诺的内容予以删除。</p>
                        <div class="mingzi">第二条</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;&nbsp;Wehelp仅为用户发布的内容提供存储空间，Wehelp不对用户发表的内容提供任何形式的保证：不保证内容满足您的要求，不保证Wehelp的服务不会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用Wehelp，Wehelp不承担任何法律责任。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;&nbsp;用户在Wehelp发表的内容（包含但不限于Wehelp目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表Wehelp的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。Wehelp不承担任何法律及连带责任。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;&nbsp;用户在Wehelp发布涉嫌侵犯他人合法权益的内容，经相关方提供初步证据，Wehelp有权先行予以删除，并保留移交司法机关查处的权利。参照相应司法机关的查处结果，Wehelp对于网站发布内容的处置具有最终决定权。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;4.&nbsp;&nbsp;个人或单位如认为Wehelp上存在侵犯自身合法权益的内容，应准备好具有法律效应的证明材料，及时与Wehelp取得联系，以便Wehelp迅速做出处理。</p>
                        <div class="mingzi">第三条</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;因在使用Wehelp一些服务的过程中，需要用户双方线下接触，Wehelp将使用一些措施尽量避免安全问题，但不给予绝对的保证。请您在使用过程中，注意自身安全，发生任何安全问题与Wehelp无关。</p>
                        <div class="mingzi">附则</div>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;对免责声明的解释、修改及更新权均属于Wehelp所有。</p>
                    </div>
            </div>
    </div>
</div>
</body>
{% endblock %}
</html>